.header-style {
    background-color: black;
}

.text-color {
    color: #80bd01;
}

.navbar-collapse {
    padding: 5px;
}

.logo {
    color: white;
    font-size: 40px;
}

#header {
    border-bottom: 3px solid #80bd01;
}